## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import math
from ast import literal_eval
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
data = pd.read_csv("./../4. RULE BASED/OUTPUT/EXTRACTED_FINAL.csv",index_col=0)
data

,link,title,content,location,loc,point,latitude,longitude,jalan,kec,...,time,age,truck,car,motorcycle,bicycle,train,bus,die,injured
3659,https://radarsidoarjo.jawapos.com/kriminal-del...,"Ban Slip di Jalan Raya Seduri, Tiga Orang Luka...",SIDOARJO Sebuah truk Toyota Dyna nopol L 8894 ...,jalan raya seduri,"Seduri, Mojokerto, Jawa Timur, Indonesia","(-7.5126112, 112.5600982)",-7.512611,112.560098,NaN,Seduri,...,malam,"[45, 29, 26]",1,0,0,0,0,0,0,3
2813,https://radarmalang.jawapos.com/malang-raya/ko...,"Diduga Melamun, Angkot Masuk Sungai di Arjosari",MALANG KOTA Mungkin hari ini ( 30/12 ) adalah ...,jalan panji suroso terminal arjosari malang,"Masjid kantor kementerian agama kota malang, J...","(-7.9307419, 112.65025418505152)",-7.930742,112.650254,Masjid kantor kementerian agama kota malang Ja...,Purwodadi,...,pagi,NaN,0,0,0,0,0,1,0,1
3033,https://radarbromo.jawapos.com/kraksaan/30/12/...,"Menyeberang, Tukang Becak Tewas Tertabrak Truk...","KRAKSAAN , Radar Bromo Nahas menimpa Miskari 5...",jalan raya kelurahan patokan kraksaan kabupate...,"Patokan, Probolinggo, Jawa Timur, 67282, Indon...","(-7.7543578, 113.410787)",-7.754358,113.410787,NaN,Patokan,...,malam,"[59, 23, 20, 62]",1,0,1,1,0,0,1,2
1287,https://radarjember.jawapos.com/berita-daerah/...,"Waduh, kok Bisa Menerobos?\n",TEROBOS LINTASAN : Sebuah mobil Isuzu Panther ...,jalan raya,NaN,NaN,NaN,NaN,NaN,NaN,...,siang,NaN,0,1,0,0,1,0,0,0
825,https://radarbromo.jawapos.com/kraksaan/29/12/...,11 Bulan Ada 488 Kecelakaan yang Tewaskan 65 N...,"KRAKSAAN , Radar Bromo Jumlah insiden kecelaka...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658,https://radarbromo.jawapos.com/headlines/02/01...,"Pulang Liburan dari Bali, Fortuner yang Ditump...","PASURUAN , Radar Bromo Agenda liburan rombonga...",bali,NaN,NaN,NaN,NaN,NaN,NaN,...,sore,"[33, 24, 4, 52, 18, 47]",0,1,0,0,0,0,0,4
3657,https://radarbromo.jawapos.com/headlines/02/01...,Satu Keluarga asal Blitar Kecelakaan di Tol Ge...,"GEMPOL , Radar Bromo Nahas nian nasib yang dia...",km 772 desa legok kecamatan gempol,"Legok, Pasuruan, Jawa Timur, 67156, Indonesia","(-7.5689747, 112.7156927)",-7.568975,112.715693,NaN,Legok,...,pagi,"[39, 39, 9, 49]",1,1,0,0,0,0,3,2
507,https://news.detik.com/berita-jawa-timur/d-484...,MPV Hantam Motor dan Terbalik di Jalur Blitar-...,Blitar - Kecelakaan lalu lintas melibatkan seb...,blitar,"Blitar, Jawa Timur, Indonesia","(-8.0982442, 112.1650769)",-8.098244,112.165077,NaN,NaN,...,siang,"[34, 18]",0,1,1,0,0,1,2,0
823,https://jatimnow.com/baca-22640-mobil-wisatawa...,Mobil Wisatawan asal Kulon Progo Tabrak Pohon ...,jatimnow.com - Sebuah mobil Toyota Avanza meng...,jalan raya pacitan-wonosari yogyakarta desa ge...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,1,0,0,0,0,0,3
508,https://news.detik.com/berita-jawa-timur/d-484...,Braak! Mobil Rombongan Wisatawan Tabrak Pohon ...,Pacitan - Braak ! Sebuah mobil tabrak pohon us...,jalur pacitan-yogyakarta ruas dusun krajan des...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[74],0,1,0,0,0,0,0,6

## Filter Data

In [3]:
# Ambil column yg diperlukan ajaa
filtered = pd.DataFrame()
for i in ['date','time','loc']:
    filtered[i] = data[i]
# Bila ditemukan kesamaan: lokasi,date,time nya-> remove duplicates, keep='last'
drop_na = filtered.sort_values(by=['date','time','loc'],ascending=False).dropna(subset=['loc','date','time']).index
na_idx = [i for i in filtered.index if i not in drop_na]
uniq_idx = pd.concat([filtered.loc[drop_na].drop_duplicates(subset=['date','time','loc'],keep='last'),
                    filtered.loc[na_idx]]).index
data_filtered = data.loc[uniq_idx]
data_filtered

,link,title,content,location,loc,point,latitude,longitude,jalan,kec,...,time,age,truck,car,motorcycle,bicycle,train,bus,die,injured
2813,https://radarmalang.jawapos.com/malang-raya/ko...,"Diduga Melamun, Angkot Masuk Sungai di Arjosari",MALANG KOTA Mungkin hari ini ( 30/12 ) adalah ...,jalan panji suroso terminal arjosari malang,"Masjid kantor kementerian agama kota malang, J...","(-7.9307419, 112.65025418505152)",-7.930742,112.650254,Masjid kantor kementerian agama kota malang Ja...,Purwodadi,...,pagi,NaN,0,0,0,0,0,1,0,1
3046,https://radarbromo.jawapos.com/probolinggo/29/...,"Rem Motor Matik Blong, Sekeluarga Terjun ke Pe...","SUMBER , Radar Bromo Rencana Ramadhan Budi , 2...",jalan desa/kecamatan sumber,"Sumber, Tuban, Jawa Timur, Indonesia","(-6.8562162, 111.9756634)",-6.856216,111.975663,NaN,Sumber,...,sore,"[25, 28, 2]",0,0,1,0,0,0,0,3
3659,https://radarsidoarjo.jawapos.com/kriminal-del...,"Ban Slip di Jalan Raya Seduri, Tiga Orang Luka...",SIDOARJO Sebuah truk Toyota Dyna nopol L 8894 ...,jalan raya seduri,"Seduri, Mojokerto, Jawa Timur, Indonesia","(-7.5126112, 112.5600982)",-7.512611,112.560098,NaN,Seduri,...,malam,"[45, 29, 26]",1,0,0,0,0,0,0,3
3033,https://radarbromo.jawapos.com/kraksaan/30/12/...,"Menyeberang, Tukang Becak Tewas Tertabrak Truk...","KRAKSAAN , Radar Bromo Nahas menimpa Miskari 5...",jalan raya kelurahan patokan kraksaan kabupate...,"Patokan, Probolinggo, Jawa Timur, 67282, Indon...","(-7.7543578, 113.410787)",-7.754358,113.410787,NaN,Patokan,...,malam,"[59, 23, 20, 62]",1,0,1,1,0,0,1,2
3665,https://radarsidoarjo.jawapos.com/kriminal-del...,"Sehari, Dua Orang Tewas Kecelakaan di Krian","SIDOARJO Arief Triono , 34 , warga Desa Jaan R...",jalan raya bypass krian km.29,"Jalan Bypass Krian, Sidomulyo, Krian, Sidoarjo...","(-7.3988461, 112.5777358)",-7.398846,112.577736,Jalan Bypass Krian Sidomulyo,Krian,...,siang,"[34, 62, 47]",1,0,1,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,https://radarjember.jawapos.com/berita-daerah/...,"Korban Tabrak Lari Nyemplung Sungai, Satu Hila...",MENCARI KORBAN : Anggota Polsek bersama warga ...,jalan desa karang duren desa wringintelu,NaN,NaN,NaN,NaN,NaN,NaN,...,siang,NaN,0,0,1,0,0,0,1,0
821,https://jatimnow.com/baca-22651-tubuh-petani-d...,Tubuh Petani di Probolinggo Hancur Terseret Ke...,"jatimnow.com - Napi ( 49 ) , seorang petani as...",desa banjarsari kecamatan sumberasih,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[49],0,0,0,0,1,0,1,0
3658,https://radarbromo.jawapos.com/headlines/02/01...,"Pulang Liburan dari Bali, Fortuner yang Ditump...","PASURUAN , Radar Bromo Agenda liburan rombonga...",bali,NaN,NaN,NaN,NaN,NaN,NaN,...,sore,"[33, 24, 4, 52, 18, 47]",0,1,0,0,0,0,0,4
823,https://jatimnow.com/baca-22640-mobil-wisatawa...,Mobil Wisatawan asal Kulon Progo Tabrak Pohon ...,jatimnow.com - Sebuah mobil Toyota Avanza meng...,jalan raya pacitan-wonosari yogyakarta desa ge...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,1,0,0,0,0,0,3
508,https://news.detik.com/berita-jawa-timur/d-484...,Braak! Mobil Rombongan Wisatawan Tabrak Pohon ...,Pacitan - Braak ! Sebuah mobil tabrak pohon us...,jalur pacitan-yogyakarta ruas dusun krajan des...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[74],0,1,0,0,0,0,0,6

In [4]:
data_filtered.to_csv("./OUTPUT/FILTERED_EXTRACTED_FINAL.csv")

## Data untuk Membuat Decision Tree di RStudio

In [5]:
data = pd.read_csv("./OUTPUT/FILTERED_EXTRACTED_FINAL.csv",index_col=0)
# Read Umur as Array
data['age'] = data['age'].apply(lambda x: literal_eval(x) if type(x)==str else None)
data['target']= [1 if data.loc[i,'die']>0 else 0 for i in data.index]
#[data.loc[i,'die']+data.loc[i,'injured'] for i in data.index]
analyze = data[['day','time','age','truck','car','motorcycle','bicycle','train','bus','die','injured','target']]
# drop na
analyze = analyze.dropna(subset=['age','time','day'])
analyze.columns=['day','time','age','involve_truck','involve_car','involve_motorcycle','involve_bicycle','involve_train','involve_bus','die','injured','target']
analyze

,day,time,age,involve_truck,involve_car,involve_motorcycle,involve_bicycle,involve_train,involve_bus,die,injured,target
3046,Tuesday,sore,"[25, 28, 2]",0,0,1,0,0,0,0,3,0
3659,Tuesday,malam,"[45, 29, 26]",1,0,0,0,0,0,0,3,0
3033,Tuesday,malam,"[59, 23, 20, 62]",1,0,1,1,0,0,1,2,1
3665,Monday,siang,"[34, 62, 47]",1,0,1,0,0,0,3,0,1
7,Sunday,sore,[20],0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3656,Friday,pagi,[50],1,0,1,0,0,0,1,0,1
499,Thursday,sore,"[37, 10, 7, 10, 7, 39]",1,0,0,0,0,0,3,0,1
2647,Wednesday,pagi,"[27, 68]",0,1,1,0,0,0,1,1,1
1157,Thursday,malam,[28],0,0,1,0,0,0,0,1,0
3658,Thursday,sore,"[33, 24, 4, 52, 18, 47]",0,1,0,0,0,0,0,4,0

### Categorize Age

In [6]:
# Define range
num_range = []
num = list(range(0,61,5))
n = 0;
while n < len(num)-1:
    num_range.append(range(num[n],num[n+1]))
    n+=1;

# Define Labels
lab = [f"{num[i]}-{num[i+1]-1}" for i in range(len(num_range))]
lab.append(f">{num[len(num_range)]}")

# Categorize ages
agec = []
for row in analyze.age:
    li_age = []
    for i in row:
        for ni, nr in enumerate(num_range):
            if i in nr: li_age.append(lab[ni]); break
            else:
                if i>=60: li_age.append(lab[len(num_range)]); break
    agec.append(li_age)

# One-Hot Encoding Ages
test = pd.Series(agec)
mlb = MultiLabelBinarizer()
res = pd.DataFrame(mlb.fit_transform(test),
                   columns=[f"age_{i}" for i in mlb.classes_],
                   index=analyze.index)
res

,age_0-4,age_10-14,age_15-19,age_20-24,age_25-29,age_30-34,age_35-39,age_40-44,age_45-49,age_5-9,age_50-54,age_55-59,age_>60
3046,1,0,0,0,1,0,0,0,0,0,0,0,0
3659,0,0,0,0,1,0,0,0,1,0,0,0,0
3033,0,0,0,1,0,0,0,0,0,0,0,1,1
3665,0,0,0,0,0,1,0,0,1,0,0,0,1
7,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3656,0,0,0,0,0,0,0,0,0,0,1,0,0
499,0,1,0,0,0,0,1,0,0,1,0,0,0
2647,0,0,0,0,1,0,0,0,0,0,0,0,1
1157,0,0,0,0,1,0,0,0,0,0,0,0,0
3658,1,0,1,1,0,1,0,0,1,0,1,0,0

### Data siap olah di RStudio:

In [7]:
a = analyze[['day','time']]
for c in res.columns:
    a[c]=res[c]
for d in ['involve_truck','involve_car','involve_motorcycle','involve_bicycle','involve_train','involve_bus']:
    a[d]=analyze[d]
a['target'] = analyze['target']
a

<ipython-input-7-04dbeb60bad2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a[c]=res[c]

,day,time,age_0-4,age_10-14,age_15-19,age_20-24,age_25-29,age_30-34,age_35-39,age_40-44,...,age_50-54,age_55-59,age_>60,involve_truck,involve_car,involve_motorcycle,involve_bicycle,involve_train,involve_bus,target
3046,Tuesday,sore,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3659,Tuesday,malam,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3033,Tuesday,malam,0,0,0,1,0,0,0,0,...,0,1,1,1,0,1,1,0,0,1
3665,Monday,siang,0,0,0,0,0,1,0,0,...,0,0,1,1,0,1,0,0,0,1
7,Sunday,sore,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3656,Friday,pagi,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,1
499,Thursday,sore,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
2647,Wednesday,pagi,0,0,0,0,1,0,0,0,...,0,0,1,0,1,1,0,0,0,1
1157,Thursday,malam,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3658,Thursday,sore,1,0,1,1,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0

Data siap olah di RStudio diekspor ke .csv

In [8]:
a.to_csv("./OUTPUT/decision_tree_data.csv")

## Ekspor ke GeoJSON untuk Dashboard

Hanya data yang punya jalan saja yang diekspor ke GeoJSON

In [16]:
data_geo = data_filtered.dropna(subset=['jalan','date'])
data_geo

,link,title,content,location,loc,point,latitude,longitude,jalan,kec,...,age,vehicle,truck,car,motorcycle,bicycle,train,bus,die,injured
2813,https://radarmalang.jawapos.com/malang-raya/ko...,"Diduga Melamun, Angkot Masuk Sungai di Arjosari",MALANG KOTA Mungkin hari ini ( 30/12 ) adalah ...,jalan panji suroso terminal arjosari malang,"Masjid kantor kementerian agama kota malang, J...","(-7.9307419, 112.65025418505152)",-7.930742,112.650254,Masjid kantor kementerian agama kota malang Ja...,Purwodadi,...,NaN,['bus'],0,0,0,0,0,1,0,1
3665,https://radarsidoarjo.jawapos.com/kriminal-del...,"Sehari, Dua Orang Tewas Kecelakaan di Krian","SIDOARJO Arief Triono , 34 , warga Desa Jaan R...",jalan raya bypass krian km.29,"Jalan Bypass Krian, Sidomulyo, Krian, Sidoarjo...","(-7.3988461, 112.5777358)",-7.398846,112.577736,Jalan Bypass Krian Sidomulyo,Krian,...,"[34, 62, 47]","['motor yamaha mio', 'truk fuso', 'truk fuso',...",1,0,1,0,0,0,3,0
512,https://jatimnow.com/baca-32382-pikap-dikemudi...,Pikap Dikemudikan Emak-emak Terbalik di Sungai...,jatimnow.com - Empat orang terluka dalam kecel...,jalan raya malang-surabaya desa purwodadi keca...,"Jalan Tol Pandaan–Malang, Purwodadi, Pasuruan,...","(-7.8179882, 112.7277362)",-7.817988,112.727736,Jalan Tol Pandaan–Malang,Purwodadi,...,[46],"['mobil mobil suzuki carry', 'mobil', 'mobil',...",0,1,0,0,0,0,0,4
2815,https://radarmalang.jawapos.com/malang-raya/ko...,"Meleng, Motor Tabrak Avanza di Batu","KOTA BATU Diduga kurang hati-hati , pengendara...",jalan raya diponegoro kelurahan sisir kecamata...,"Jalan Diponegoro, Sisir, Batu, Jawa Timur, 653...","(-7.8755729, 112.5311143)",-7.875573,112.531114,Jalan Diponegoro,Sisir,...,NaN,"['motor', 'mobil', 'motor tunggal', 'mobil ava...",0,1,1,0,0,0,0,1
514,https://jatimnow.com/baca-32368-main-hp-gunaka...,"Main HP Gunakan Headset, Pemuda ini Tewas Ters...",jatimnow.com - Seorang pemuda tewas tersambar ...,jalan ketintang baru gayungan surabaya,"Jalan Ketintang Baru XII, RW 03, Ketintang, Ga...","(-7.3165727, 112.7288144)",-7.316573,112.728814,Jalan Ketintang Baru XII RW 03 Ketintang,Gayungan,...,[27],"['ka api', 'ka', 'ka api', 'ka api', 'ka api',...",0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,https://news.detik.com/berita-jawa-timur/d-486...,Bus Ini Selamat dari Kecelakaan Meski Sopirnya...,Bojonegoro - Seorang sopir bus tewas mendadak ...,jalan raya baureno,"Baureno, Jatirejo, Mojokerto, Jawa Timur, Indo...","(-7.6038157, 112.431761)",-7.603816,112.431761,Baureno,Jatirejo,...,"[60, 45]","['bus', 'bus', 'bus margodjoyo', 'bus', 'bus',...",0,0,0,0,0,1,1,0
804,https://jatimnow.com/baca-22953-pengemudi-ngan...,"Pengemudi Ngantuk, Pikap Grandmax Nangkring di...",jatimnow.com - Sebuah mobil pikap Daihatsu Gra...,jalan tol jombang-mojokerto km 700,"Jalan Tol Jombang - Mojokerto Barat, Mojokerto...","(-7.4860402, 112.3601577)",-7.486040,112.360158,Jalan Tol Jombang - Mojokerto Barat,Mojokerto,...,[34],"['mobil mobil daihatsu grandmax', 'mobil', 'mo...",0,1,0,0,0,0,0,0
808,https://jatimnow.com/baca-22877-mobil-suzuki-a...,Mobil Suzuki APV Tabrak Honda BRV di Tol Nganj...,jatimnow.com - Kecelakaan melibatkan mobil Suz...,km 663 jalan tol nganjuk-kertosono,"Jalan Tol Nganjuk - Kertosono, Pandan Toyo, Ng...","(-7.5753373, 112.0937258)",-7.575337,112.093726,Jalan Tol Nganjuk - Kertosono,Pandan Toyo,...,"[10, 50, 48, 40, 38]","['mobil suzuki apv', 'honda brv', 'mobil suzuk...",0,1,0,0,0,0,2,2
493,https://news.detik.com/berita-jawa-timur/d-485...,"Motor Matik Boncengan Tiga Tabrak Trotoar, Sat...",Surabaya - Kecelakaan tunggal terjadi di Jalan...,jalan kedung cowek jembatan suramadu,"Jembatan Suramadu, RW 01, Kedung Cowek, Bulak,...","(-7.1835217, 112.7803833)",-7.183522,112.780383,Jembatan Suramadu RW 01 Kedung Cowek Bulak,Sukolilo Barat,...,"[15, 15, 15, 15]","['motor matik', 'motor', 'motor', 'motor', 'mo...",0,0,1,0,0,0,15,0
816,https://jatimnow.com/baca-22723-truk-boks-tabr...,"Truk Boks Tabrak Motor di Ngawi, Satu Orang Tewas",jatimnow.com - Sebuah kecelakaan yang melibatk...,jalan raya ngawi-maospati desa/kecamatan geneng,"Geneng, Jalan Raya Ngawi - Maospati, Bayemtama...","(-7.4978378, 111.4187193)",-7.497838,111.418719,Geneng Jalan Raya Ngawi - Maospati,Bayemtaman,...,"[47, 35]","['truk boks', 'motor honda beat', 'motor', 'mo...",1,0,1,0,0,0,1,0

In [17]:
import csv, json
from geojson import Feature, FeatureCollection, Point

features = []

for i in range(len(data_geo)):
    latitude = data_geo.iloc[i,6];
    longitude = data_geo.iloc[i,7];
    location = data_geo.iloc[i,4];
    date = data_geo.iloc[i,8];
    features.append(
        Feature(
            geometry = Point((longitude, latitude)),
            properties = {
                'date': date,
                'location':location
            }
        )
    )
collection = FeatureCollection(features)
name = "GeoObs_FINAL"
with open(f"./LALA/{name}.json", "w") as f:
    f.write('%s' % collection)
    print(f"JSON written in: ./LALA/{name}.json")

JSON written in: ./LALA/GeoObs_FINAL.json

~ Fin.